.login-container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-container form{
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
}
.login-container form input{
    margin-top:20px;
    border: 1px solid #c0c0c0;
    padding: 0 20px;
    height: 38px; 
    font-size: 16px;
    background-color: #c0c0c0;
}
.login-container form input::placeholder{

    color:#363636;
}
.login-container form button{
    margin-top:10px;
    border: 1px solid #c0c0c0;
    padding: 0 20px;
    height: 38px; 
    font-weight: bold;
    background-color: #DF4723;
    cursor:pointer;
    color:#FFF;
}
